[user]
	name = Ryan Neufeld
	email = ryan@ryanneufeld.ca
[color]
        branch = auto
        status = auto
        diff = auto
[core]
        excludesfile = /Users/ryan/.gitignore
	autocrlf = input
[branch]
	autosetupmerge = true
[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
	ci = commit
        df = diff
        lg = log -p
        cp = cherry-pick
[push]
  # Push current branch even if you've never pushed it before
  default = current
