[user]
  name = Ryan Neufeld
  email = ryan@rkn.io

[push]
  # Push current branch even if you've never pushed it before
  default = simple

[core]
  excludesfile = ~/.gitignore
  autocrlf = input

[branch]
  autosetupmerge = true

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  both     = diff HEAD # show staged and unstaged changes (what would be committed with "git commit -a")
  br       = branch
  ci       = commit
  co       = checkout
  cl       = clone
  cp       = cherry-pick
  d        = diff
  df       = diff
  dif      = diff
  lg       = log -p
  lol      = log --graph --decorate --pretty=oneline --abbrev-commit
  lola     = log --graph --decorate --pretty=oneline --abbrev-commit --all
  re       = rebase
  rec      = rebase --continue
  rea      = rebase --abort
  st       = status
  staged   = diff --cached # show difference between the HEAD and the index
  diffstep = diff @{1}..
  unstaged = diff # show difference between working tree and the index

  m        = merge

  # http://gitready.com/advanced/2011/10/21/ribbon-and-catchup-reading-new-commits.html
  ribbon   = tag --force ribbon origin/master
  catchup  = log --patch --reverse --topo-order ribbon..origin/master

  sha      = rev-parse --short HEAD

[hub]
  protocol = https

[credential]
	helper = cache --timeout=259200
